@import "../../common/mixins/colors.scss";

.root {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: color(gray);

  &__img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    vertical-align: middle;
  }
}
